*{margin:0;
  padding: 0;
  box-sizing: border-box;}

h1{ 
    font-family: 'Trebuchet MS';
    background-color:#8cb369;
    color: white;
    text-align: center;
    margin: 0;
    padding: 8px;
    width: 100%;
    block-size: border block;

  }
body{background-color: #c8d5b9;
    font-family: Verdana; 
}

.megusta{background-color: rgb(193,194,175);
        font-family: Verdana;
        padding: 10px;
        }

footer{background-color: rgb(230, 231, 215);
       font-family: verdana;
       padding: 10px;
       text-align: center;
       width: 100%;
       margin: 0;
  
      }

/*Estilo para menú*/
nav{background-color: #f1f2e1;
     font-family: Arial; 
     text-align: right;
     width: 100%;
   }

/*Estilo para hipervínculos de menú*/
nav a{
      background-color: #fb994a;
      color: white; 
      display: inline-flex;
      padding: 10px 15px;
      text-decoration: none;
      justify-content: center;
      border-radius: 4px;
      margin:5px;
     }

nav a:hover{
    background-color: rgb(250, 186, 74)}

.container_index{
    text-align: center;
    padding: 20px;
  }

.container_index img{
    width: 50%;
}
  

.container_sobremi{display: flex;
justify-content: center;}



.container_sobremi img{

margin: 10px;
border-radius: 10px;
}

.container_intereses{display:flex;
justify-content: center;}


.container_intereses img{

width:20%;
margin: 10px;}

.container_contacto{

    display: flex;
    padding: 20px;
    align-items: center;
}

.container_contacto img {

    padding: 8px;
    width: 100px;
    height: auto;

}


